<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="MyProjectsContext" connectionString="user=root;Database=profile;Server=localhost;Port=3306;Password=Stepup007;"  providerName="Pomelo.EntityFrameworkCore.MySql"/>
    </connectionStrings>
</configuration>
