.dot-progress {
    background-color: #323232;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dot-progress-active {
    background-color: orange;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dot-bar {
    display: flex;
}

@media only (width: 690px) {
    .dot-bar {
        display: block;
    }
}