.grayscale {
  filter: grayscale(100%);
  transition: 0.1s;
}

.grayscale:hover {
  filter: grayscale(0);
}

.bg-darkgrey {
    background-color: #333333;
}

.nav-root {
  display: flex;
}

@media only screen and (max-width: 1000px) {
    .nav-root {
      display: block;
    }
}

